/* -------------------------------- */
/* ---------- Header ---------*/
/* -------------------------------- */
:root {
  --clr-header-background: hsl(30, 40%, 98%);
  --clr-header-hover: hsl(54, 31%, 46%);
  --clr-txt-headings: hsl(204, 88%, 34%);
  --clr-txt-body: hsl(220, 80%, 26%);
  --clr-txt-highlight: hsl(0, 82%, 67%);
  --ff-primary: "Barlow Semi Condensed", sans-serif;
}
header {
  background-color: var(--clr-header-background);
  display: flex;
  justify-content: space-between;
  /* align-items: absolute; */
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
header a {
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
  font-family: var(--ff-primary);
}
/* Hide hamburger for bigger screens */
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}
.menu-icon {
  visibility: hidden;
}
.btn-style700 {
  position: relative;
  border-color: #979695;
  color: #979695;
  padding: 0.5rem;
}
.btn-style700::before,
.btn-style700::after {
  position: absolute;
  top: 0;
  left: 0;
  border-color: #dd6395;
  border-radius: 5px;
  border-style: solid;
  transition: all 0.35s;
  content: "";
  z-index: 1;
}
.btn-style700::before {
  width: 0;
  height: 100%;
  border-width: 1px 0 1px 0;
}
.btn-style700::after {
  width: 100%;
  height: 0;
  border-width: 0 1px 0 1px;
}
.btn-style700:hover {
  border-color: #dd6395;
  color: #dd6395;
}
.btn-style700:hover::before {
  width: 100%;
  border-width: 1px 0 1px 0;
}
.btn-style700:hover::after {
  height: 100%;
  border-width: 0 1px 0 1px;
}
.btn-style700:active {
  border-color: #dd6395;
  color: #dd6395;
}
/* .nav-item {
  padding: 0.5rem;
  color: var(--clr-txt-headings);
} 
.nav-item:hover {
  background-color: var(--clr-header-hover);
  border-radius: 0.5rem;
  text-decoration: underline;
}

.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item:hover:after {
  width: 100%;
  left: 0;
} */
/* Set width for mobile/smaller screen size. */
/* I set it big here so I don't have to shrink the screen so much */
/* for testing purposes */
@media screen and (max-width: 1100px) {
  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
  }

  h1 {
    grid-area: title;
  }

  .menu a {
    text-decoration: none;
    /* color: black; */
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: cen;
    padding: 30px 20px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  .navicon {
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  .navicon:before,
  .navicon:after {
    background: #333;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }

  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: var(--clr-txt-headings);
  }

  .menu a {
    padding: 20px 20px;
    /* border-right: 1px solid #f4f4f4;
    background-color: #eee; */
    width: 100%;
    text-align: center;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240vh;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}
