<header class="header">
  <div class="logo">
    <img class="logo-img" src="../assets/images/school-logo.png" ALT="logo" ALIGN=CENTER>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <span class="navicon" />
  </label>
  <nav class='menu'>
    <a class='nav-item btn-style700' href="https://pruthvi247.github.io/html/index.html">Home</a>
    <a class='nav-item btn-style700' href="https://pruthvi247.github.io/html/about.html">About</a>
    <a class='nav-item btn-style700' href="https://pruthvi247.github.io/html/services.html">Our Programs</a>
    <a class='nav-item btn-style700' href="https://pruthvi247.github.io/html/awards.html">Awards</a>
    <a class='nav-item btn-style700' href="https://pruthvi247.github.io/html/funtactic.html">Fun-tac-tic</a>
  </nav>
</header>
