<header class="header">
  <div class="logo">
    <img class="logo-img" src="../assets/images/school-logo.png" ALT="logo" ALIGN=CENTER>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <span class="navicon" />
  </label>
  <nav class='menu'>
    <a class='nav-item' href="../index.html">Home</a>
    <a class='nav-item' href="../../html/about.html">About</a>
    <a class='nav-item' href="../../html/services.html">Our Programs</a>
    <a class='nav-item' href="../../html/gallery.html">Awards</a>
    <a class='nav-item' href="../../html/contact.html">Contact</a>
  </nav>
</header>