<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> A note </span> We teach children how to solve the challenges they care about, through design – our
      classroom
      is
      the world around us.
    </p>
    <div class="icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Plot:1422–B, 7th Cross,Poombugar Nagar, Kolathur</span> Chennai – 600099</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> (+91) 9444200851</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#"> office@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> Maruti<span> Seva</span></h2>
    <p class="menu">
      <a href="../../index.html"> Home</a> |
      <a href="../../html/about.html"> About</a> |
      <a href="../../html/services.html"> Services</a> |
      <a href="../../html/awards.html"> Awards</a>
    </p>
    <p class="name"> Maruti Seva &copy; estd:1990</p>
  </div>
</footer>